.qksD2kbKOhL8gEjAWqTk7 {
  position: absolute;
  top: 2.66rem;
  left: 2.66rem;
  font-size: 2.13rem;
  line-height: 2.13rem; }
  @media (max-width: 575px) {
    .qksD2kbKOhL8gEjAWqTk7 {
      font-size: 2rem; } }
  @media (max-width: 575px) {
    .qksD2kbKOhL8gEjAWqTk7 {
      font-size: 1.73rem; } }

.DGPFVCkJjPWMcPWlvHKhV {
  text-align: center;
  margin-top: -3.14rem;
  position: relative;
  z-index: 1; }

._82fiGlkBCWw6IcYgAgInX {
  position: absolute;
  font-size: 5.33rem;
  right: -0.67rem;
  bottom: -0.67rem; }

._2zmvdG5yJWXszmKMSMXcwp .ant-carousel .slick-dots-bottom {
  bottom: 24px; }

._2zmvdG5yJWXszmKMSMXcwp .ant-carousel .slick-dots li button {
  height: 7px;
  border-radius: 3px; }

._21piLUFFY984jVH7c4r61y {
  position: absolute;
  font-size: 5.33rem;
  right: -0.67rem;
  bottom: -0.67rem; }

._2kWAQeWqJ12WFWPCvvlqP1 .ant-carousel .slick-dots-bottom {
  bottom: 24px; }

._2kWAQeWqJ12WFWPCvvlqP1 .ant-carousel .slick-dots li button {
  height: 7px;
  border-radius: 3px; }

._3O87bj9lV6eYQhJ0IpgQTU {
  position: relative;
  padding-left: 3.66rem;
  padding-bottom: 0.4rem; }

._1rE4X5dE5va6lX1lnxHGYL {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  color: #a1a1c2; }

._2OmfnPoO9_uhZhWiCjqaOh {
  font-weight: bold; }

._25wCdqVTmdK2jJHSXqYP_f {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #e4e9f0; }

