._1J7HvuGKUUHXcIzZ_4oNni {
  flex-basis: 50%; }

.aQ5a5ps6Kclel_bYn78uA .ct-bar {
  stroke-width: 15px; }

._2ccI1ypab2wKDrYAXykdzy {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease-in-out; }

.tablet {
  display: inline-block;
  vertical-align: middle;
  width: 1.66rem;
  height: 0.53rem;
  border-radius: 4px;
  background-color: #a1a1c2; }

.V26Xz2LlxFpp4vxKZ6y9T {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease-in-out; }

.tablet {
  display: inline-block;
  vertical-align: middle;
  width: 1.66rem;
  height: 0.53rem;
  border-radius: 4px;
  background-color: #a1a1c2; }

