._2XXbK1lu555VXboDPUQ-ZX {
  height: 100%;
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 0; }

._163xgaFKJyiWn6vgkZSxKV {
  height: 100%; }
  ._163xgaFKJyiWn6vgkZSxKV .ct-line {
    stroke-width: 1px; }
  ._163xgaFKJyiWn6vgkZSxKV .ct-point {
    stroke-width: 5px; }
  ._163xgaFKJyiWn6vgkZSxKV .ct-series-a .ct-area {
    fill: rgba(75, 124, 243, 0.1) !important;
    fill-opacity: 1 !important; }
  ._163xgaFKJyiWn6vgkZSxKV .ct-series-a .ct-line {
    stroke: #4b7cf3 !important; }

._1W-_ea1qFqrQ5Kkzk_TT27 {
  height: 100%;
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 0; }

.Oh4mdTR7ShCJd7-wg7XPx {
  height: 100%; }
  .Oh4mdTR7ShCJd7-wg7XPx .ct-line {
    stroke-width: 1px; }
  .Oh4mdTR7ShCJd7-wg7XPx .ct-point {
    stroke-width: 5px; }
  .Oh4mdTR7ShCJd7-wg7XPx .ct-series-a .ct-area {
    fill: rgba(75, 124, 243, 0.1) !important;
    fill-opacity: 1 !important; }
  .Oh4mdTR7ShCJd7-wg7XPx .ct-series-a .ct-line {
    stroke: #4b7cf3 !important; }

._3E4iQFdy4ih45Oa8YY-byX {
  height: 100%;
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 0; }

._1afChO0Y2YH-438hm7wQSJ {
  height: 100%; }
  ._1afChO0Y2YH-438hm7wQSJ .ct-line {
    stroke-width: 1px; }
  ._1afChO0Y2YH-438hm7wQSJ .ct-point {
    stroke-width: 5px; }
  ._1afChO0Y2YH-438hm7wQSJ .ct-series-a .ct-area {
    fill: rgba(75, 124, 243, 0.1) !important;
    fill-opacity: 1 !important; }
  ._1afChO0Y2YH-438hm7wQSJ .ct-series-a .ct-line {
    stroke: #4b7cf3 !important; }

