._3nF4nCFkC6kQK33q_Q0nLg {
  display: block;
  margin-bottom: 0.66rem; }
  ._3nF4nCFkC6kQK33q_Q0nLg:last-child {
    margin-bottom: 0; }

._hwgiJo5GGRlN8LWVPJHI {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  ._hwgiJo5GGRlN8LWVPJHI:hover {
    color: inherit; }
  ._hwgiJo5GGRlN8LWVPJHI:focus {
    color: inherit; }

._9gpZxEWj4dJSKAcQR74wW {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  align-self: flex-start; }
  ._9gpZxEWj4dJSKAcQR74wW img {
    width: 100%;
    height: auto; }

.gKzE5uYPnStS0sSlKJHAC {
  font-size: 1.46rem;
  line-height: 2.66rem;
  color: #c8c4db; }

[data-kit-theme='dark'] ._9gpZxEWj4dJSKAcQR74wW {
  background: #232135; }

._3oNZyI5QRFi9npis1F5AlV {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  ._3oNZyI5QRFi9npis1F5AlV:hover {
    color: inherit; }
    ._3oNZyI5QRFi9npis1F5AlV:hover .Kh8WQBmmuI4jH6cexmapp span:first-child {
      opacity: 1; }
  ._3oNZyI5QRFi9npis1F5AlV:focus {
    color: inherit; }

._3KMs-klQianx0B7DTbhY_1 {
  flex-basis: 50px;
  margin-right: 0.66rem;
  font-size: 1.2rem;
  line-height: 1.33rem;
  align-self: flex-start; }

.Kh8WQBmmuI4jH6cexmapp {
  margin-left: auto;
  white-space: nowrap; }
  .Kh8WQBmmuI4jH6cexmapp span {
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 22px; }
    .Kh8WQBmmuI4jH6cexmapp span:first-child {
      opacity: 0.5; }
    .Kh8WQBmmuI4jH6cexmapp span:last-child {
      margin-left: -9px; }
    .Kh8WQBmmuI4jH6cexmapp span:before {
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }
    .Kh8WQBmmuI4jH6cexmapp span:after {
      position: absolute;
      top: 14px;
      left: 0;
      transform: rotate(-45deg);
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }

._1z4Z9b6b4f945NsPim3VEC {
  display: block;
  margin-bottom: 1rem;
  color: #595c97; }
  ._1z4Z9b6b4f945NsPim3VEC:last-child {
    margin-bottom: 0; }

._2GRlG-wyDe2xWAmQCeB2MX {
  border-bottom: 1px solid #e4e9f0; }
  ._2GRlG-wyDe2xWAmQCeB2MX:not(:first-child) {
    margin-top: 2rem; }
  ._2GRlG-wyDe2xWAmQCeB2MX:last-child {
    border-bottom: none; }

._2aurESjOzjGLXzfmYbYyXC {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; }

._2M6iEssPAvgIZ4zJBT7k_D {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.33rem;
  flex-shrink: 0;
  align-self: flex-start; }
  ._2M6iEssPAvgIZ4zJBT7k_D img {
    width: 100%;
    height: auto; }

[data-kit-theme='dark'] ._2GRlG-wyDe2xWAmQCeB2MX {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._2GRlG-wyDe2xWAmQCeB2MX:last-child {
    border-bottom: none; }

[data-kit-theme='dark'] ._2M6iEssPAvgIZ4zJBT7k_D {
  background: #141322;
  border-color: #232135; }

.IQcb1oKJdVbHeAMhyTyKP {
  border-bottom: 1px solid #e4e9f0;
  transition: all 0.1s ease-in-out; }
  .IQcb1oKJdVbHeAMhyTyKP:hover {
    background-color: #f2f4f8; }
  .IQcb1oKJdVbHeAMhyTyKP:last-child {
    border-bottom: none; }

._1f9ftRIyscD3TnPgqZinOz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  ._1f9ftRIyscD3TnPgqZinOz:hover {
    color: inherit; }
  ._1f9ftRIyscD3TnPgqZinOz:focus {
    color: inherit; }

.RvVslgt9DbGvIxQr8Pge1 {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #e4e9f0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.8rem;
  vertical-align: middle;
  margin-right: 1.33rem;
  margin-left: 1rem;
  background-color: #fff;
  flex-shrink: 0; }

._1xyO8VWcSFBhKCYGHwCDL4 {
  margin-left: auto;
  white-space: nowrap;
  width: 8px;
  height: 15px;
  margin-right: 1.33rem; }
  ._1xyO8VWcSFBhKCYGHwCDL4 span {
    transition: all 0.05s ease-in-out;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 22px; }
    ._1xyO8VWcSFBhKCYGHwCDL4 span:before {
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);
      content: '';
      width: 7px;
      height: 2px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }
    ._1xyO8VWcSFBhKCYGHwCDL4 span:after {
      position: absolute;
      top: 9px;
      left: 0;
      transform: rotate(-45deg);
      content: '';
      width: 7px;
      height: 2px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }

[data-kit-theme='dark'] .IQcb1oKJdVbHeAMhyTyKP {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] .IQcb1oKJdVbHeAMhyTyKP:hover {
    background-color: #141322; }
  [data-kit-theme='dark'] .IQcb1oKJdVbHeAMhyTyKP:last-child {
    border-bottom: none; }

[data-kit-theme='dark'] .RvVslgt9DbGvIxQr8Pge1 {
  background: #141322;
  border-color: #232135; }

._1vHppCkNdmBw1oWcovwvbV {
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid #e4e9f0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  ._1vHppCkNdmBw1oWcovwvbV:last-child {
    border-bottom: none; }

._1yXxb_HkiD2-eDziT7Rn6e {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #e4e9f0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  background-color: #fff;
  flex-shrink: 0;
  vertical-align: middle;
  line-height: 2.8rem;
  position: relative;
  margin-right: 1.33rem;
  margin-left: 1rem; }
  ._1yXxb_HkiD2-eDziT7Rn6e i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900; }

[data-kit-theme='dark'] ._1vHppCkNdmBw1oWcovwvbV {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._1vHppCkNdmBw1oWcovwvbV:hover {
    background-color: #141322; }
  [data-kit-theme='dark'] ._1vHppCkNdmBw1oWcovwvbV:last-child {
    border-bottom: none; }

[data-kit-theme='dark'] ._1yXxb_HkiD2-eDziT7Rn6e {
  background: #141322;
  border-color: #232135; }

._2oOO1InbDfX4XiQsX4dkqE {
  position: relative; }
  ._2oOO1InbDfX4XiQsX4dkqE::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.73rem;
    bottom: 0;
    width: 0.26rem;
    background-color: #e4e9f0; }

._3eraQ1BHHRwwlj5MfxoXWK {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  ._3eraQ1BHHRwwlj5MfxoXWK:hover {
    color: inherit; }
    ._3eraQ1BHHRwwlj5MfxoXWK:hover ._2R1UeXquKCYcMmEVMdG3Zu span:first-child {
      opacity: 1; }
  ._3eraQ1BHHRwwlj5MfxoXWK:focus {
    color: inherit; }

._2xaCpQ2puIC0S_WoPZVdt {
  flex-basis: 40px;
  margin-right: 0.66rem; }

._2R1UeXquKCYcMmEVMdG3Zu {
  margin-left: auto;
  white-space: nowrap; }
  ._2R1UeXquKCYcMmEVMdG3Zu span {
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 22px; }
    ._2R1UeXquKCYcMmEVMdG3Zu span::before {
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }
    ._2R1UeXquKCYcMmEVMdG3Zu span::after {
      position: absolute;
      top: 14px;
      left: 0;
      transform: rotate(-45deg);
      content: '';
      width: 15px;
      height: 3px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }
    ._2R1UeXquKCYcMmEVMdG3Zu span:first-child {
      opacity: 0.5; }
    ._2R1UeXquKCYcMmEVMdG3Zu span:last-child {
      margin-left: -9px; }

._34OQtV2DKW8Zc6w1gVGndw {
  display: block;
  margin-bottom: 1rem;
  color: #595c97; }
  ._34OQtV2DKW8Zc6w1gVGndw:last-child {
    margin-bottom: 0; }

._32mYF2ML0Xjq2Azc871Y-t {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem;
  background-color: #fff; }
  ._32mYF2ML0Xjq2Azc871Y-t.QBkBtbDtd0kuojuoo0Jpe {
    width: 1.73rem;
    height: 1.73rem; }
  ._32mYF2ML0Xjq2Azc871Y-t._1ZNVxlvEZpYYjBEKXSto2k {
    border-color: #c8c4db; }
  ._32mYF2ML0Xjq2Azc871Y-t._3HJhyY_bAmNaCgEsDOOhMF {
    border-color: var(--kit-color-primary); }
  ._32mYF2ML0Xjq2Azc871Y-t.Seg2bSE3Ka1XijV-ohRVQ {
    border-color: #a1a1c2; }
  ._32mYF2ML0Xjq2Azc871Y-t._1gttC9M4jAQyiZHFHEuq0R {
    border-color: #41b883; }
  ._32mYF2ML0Xjq2Azc871Y-t._3niZoOVzdAg_IaQc3l7mPG {
    border-color: #faad15; }
  ._32mYF2ML0Xjq2Azc871Y-t._2jQ6nVBmdnxf2aRP9Zuhgs {
    border-color: #f5222e; }
  ._32mYF2ML0Xjq2Azc871Y-t._3BVAgyJ74zhjWG8Yq6aMS1 {
    border-color: #42baf9; }
  ._32mYF2ML0Xjq2Azc871Y-t.FnR05xK86txCWtaaMjiMU {
    border-color: #ff0; }
  ._32mYF2ML0Xjq2Azc871Y-t._3rngp1BaQauQgSgGJJh452 {
    border-color: #faad15; }
  ._32mYF2ML0Xjq2Azc871Y-t._3EXgvcjFj_clp_9VpbBeKg {
    border-color: #e4e9f0; }

[data-kit-theme='dark'] ._2oOO1InbDfX4XiQsX4dkqE:before {
  background: #232135; }

[data-kit-theme='dark'] ._32mYF2ML0Xjq2Azc871Y-t {
  background: #0c0c1b; }

._3EEiKUjqCJ7XXxXYPBTpmI {
  border-bottom: 1px solid #e4e9f0;
  transition: all 0.1s ease-in-out; }
  ._3EEiKUjqCJ7XXxXYPBTpmI:hover {
    background-color: #f2f4f8; }
  ._3EEiKUjqCJ7XXxXYPBTpmI:last-child {
    border-bottom: none; }

._1eF1LvDyDWvF5WIp8U5h5n {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  ._1eF1LvDyDWvF5WIp8U5h5n:hover {
    color: inherit; }
  ._1eF1LvDyDWvF5WIp8U5h5n:focus {
    color: inherit; }

.zKtQ7vqrBdsqPie6dASxf {
  width: 2.86rem;
  height: 2.86rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.86rem;
  vertical-align: middle;
  margin-right: 1.33rem;
  margin-left: 1rem;
  color: #fff;
  flex-shrink: 0; }
  .zKtQ7vqrBdsqPie6dASxf i {
    line-height: 2.8rem; }

._3pV7xjv_i8qHjbJ_Z2MJdX {
  margin-left: auto;
  white-space: nowrap;
  width: 8px;
  height: 15px;
  margin-right: 1.33rem; }
  ._3pV7xjv_i8qHjbJ_Z2MJdX span {
    transition: all 0.05s ease-in-out;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 22px; }
    ._3pV7xjv_i8qHjbJ_Z2MJdX span:before {
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);
      content: '';
      width: 7px;
      height: 2px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }
    ._3pV7xjv_i8qHjbJ_Z2MJdX span:after {
      position: absolute;
      top: 9px;
      left: 0;
      transform: rotate(-45deg);
      content: '';
      width: 7px;
      height: 2px;
      background-color: var(--kit-color-primary);
      border-radius: 5px; }

[data-kit-theme='dark'] ._3EEiKUjqCJ7XXxXYPBTpmI {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._3EEiKUjqCJ7XXxXYPBTpmI:hover {
    background-color: #141322; }
  [data-kit-theme='dark'] ._3EEiKUjqCJ7XXxXYPBTpmI:last-child {
    border-bottom: none; }

[data-kit-theme='dark'] .zKtQ7vqrBdsqPie6dASxf {
  background: #141322;
  border-color: #232135; }

.ZTF3uLDUNRYBjjfNvcZE6 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 2rem;
  position: relative;
  min-height: 96px; }
  .ZTF3uLDUNRYBjjfNvcZE6:last-child {
    padding-bottom: 0; }
    .ZTF3uLDUNRYBjjfNvcZE6:last-child::before {
      display: none; }

._2hehCkTeL2lDBDvcBa6RbG {
  content: '';
  position: absolute;
  top: calc(50% + 28px);
  transform: translateY(-50%);
  left: 2.2rem;
  bottom: 0;
  width: 5px;
  height: 32px;
  background-repeat: no-repeat; }

._3k-HSLVYvSeW094xeZ67BT {
  align-self: flex-start;
  position: relative;
  margin-right: 1.33rem;
  margin-left: 1rem; }

._1F3EBzoRsmHMXKJEFww7qe {
  width: 2.86rem;
  height: 2.86rem;
  border-radius: 50%;
  line-height: 2.86rem;
  flex-shrink: 0;
  opacity: 0.4; }

.cwN_OtpAvFfXyyVlnmWtY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff; }

[data-kit-theme='dark'] ._2hehCkTeL2lDBDvcBa6RbG {
  opacity: 0.1; }

.yGLb9LLFSmx7dTfXgzYcn {
  margin-bottom: 2rem; }
  .yGLb9LLFSmx7dTfXgzYcn:last-child {
    margin-bottom: 0; }

._2q8zzn5azxZyPgPLnqgy8T {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; }

._1KQQrlQnyI-0uJ1F0HPHKg {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.33rem;
  flex-shrink: 0;
  align-self: flex-start; }
  ._1KQQrlQnyI-0uJ1F0HPHKg img {
    width: 100%;
    height: auto; }

._2qX4iiabUOFVxhcAtl32_h {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem; }
  ._2qX4iiabUOFVxhcAtl32_h._1Gg-FJKUhQFmc9PSc_Avtv {
    width: 1.73rem;
    height: 1.73rem; }
  ._2qX4iiabUOFVxhcAtl32_h.W55g0ymKBJdR8IW3jOvua {
    border-color: #c8c4db; }
  ._2qX4iiabUOFVxhcAtl32_h._1HB4uXDiFMdvG7CeVmCgWR {
    border-color: var(--kit-color-primary); }
  ._2qX4iiabUOFVxhcAtl32_h._1eEmIfaZLILdETUaXag1Cz {
    border-color: #a1a1c2; }
  ._2qX4iiabUOFVxhcAtl32_h.ucVKMYMbc6TwcXOkrnktU {
    border-color: #41b883; }
  ._2qX4iiabUOFVxhcAtl32_h._6LsePNRvpaaUoisQ2XXNj {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._2yQkDQ9gxplf7_eaAKnriQ {
    border-color: #f5222e; }
  ._2qX4iiabUOFVxhcAtl32_h._2k3ejwoz4wQKaHh07v-su7 {
    border-color: #42baf9; }
  ._2qX4iiabUOFVxhcAtl32_h._1JqaepX8nG8gDFH6ILZSd4 {
    border-color: #ff0; }
  ._2qX4iiabUOFVxhcAtl32_h._2PLqpXlZjFdwQytDLlA8EX {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._1lNUTdY69xK5hx6So_CTFK {
    border-color: #e4e9f0; }

._1dkfcnVTjsET1wqT7pLCrf {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.33rem; }
  ._1dkfcnVTjsET1wqT7pLCrf:last-child {
    margin-bottom: 0; }

.ujvBvhIhGX4LtoHNSbgl_ {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.33rem;
  flex-shrink: 0;
  align-self: flex-start; }
  .ujvBvhIhGX4LtoHNSbgl_ img {
    width: 100%;
    height: auto; }

._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #e4e9f0; }
  ._20j7s9cahRwwFMzPdJIYV5:first-child ._3CcXkhrR9-bHR2WNWOF7Jb {
    padding-top: 0; }
  ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }
    ._20j7s9cahRwwFMzPdJIYV5:last-child ._3CcXkhrR9-bHR2WNWOF7Jb {
      padding-bottom: 0; }

._3CcXkhrR9-bHR2WNWOF7Jb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: inherit;
  padding-top: 2rem;
  padding-bottom: 1.66rem; }
  ._3CcXkhrR9-bHR2WNWOF7Jb:hover, ._3CcXkhrR9-bHR2WNWOF7Jb:focus {
    color: inherit; }

._1HTBiB-fpYrj2aBzxYHnqk {
  width: 4.86rem;
  flex-shrink: 0; }
  ._1HTBiB-fpYrj2aBzxYHnqk img {
    width: 100%;
    height: auto; }

[data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }

._1fdJcobrcNqzr-uLKUaeeK {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.33rem; }
  ._1fdJcobrcNqzr-uLKUaeeK:last-child {
    margin-bottom: 0; }

._3xgBQH9ew44x0oHV_Wbz6U {
  height: 2.13rem;
  width: 0.26rem;
  border-radius: 3px;
  flex-shrink: 0;
  background-color: #e4e9f0; }

.GiC0felPPoRhNS9WIrWb7 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.33rem; }
  .GiC0felPPoRhNS9WIrWb7 .lUdCvVXX9g1i6lJq3N8MG {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
  .GiC0felPPoRhNS9WIrWb7 .Sx6UpeGvhxn7apqxWDPnV {
    flex-shrink: 0; }
  .GiC0felPPoRhNS9WIrWb7:last-child {
    margin-bottom: 0; }

._38dYOd0e2FtZxvtbsZo5DE {
  height: 2.13rem;
  width: 4px;
  border-radius: 3px;
  flex-shrink: 0;
  background-color: #e4e9f0; }

.lUdCvVXX9g1i6lJq3N8MG {
  display: block;
  position: relative;
  margin-bottom: 0.66rem;
  cursor: pointer; }
  .lUdCvVXX9g1i6lJq3N8MG input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .Sx6UpeGvhxn7apqxWDPnV {
    margin-right: 0.53rem;
    vertical-align: super;
    position: relative;
    display: inline-block;
    height: 18px;
    width: 18px;
    background: #e4e9f0;
    border-radius: 3px; }
    .Sx6UpeGvhxn7apqxWDPnV:after {
      position: absolute;
      display: none;
      content: ''; }
  .lUdCvVXX9g1i6lJq3N8MG:hover input ~ .Sx6UpeGvhxn7apqxWDPnV,
  .lUdCvVXX9g1i6lJq3N8MG input:focus ~ .Sx6UpeGvhxn7apqxWDPnV {
    background: #d9dee9; }
  .lUdCvVXX9g1i6lJq3N8MG input:checked ~ .Sx6UpeGvhxn7apqxWDPnV {
    background: var(--kit-color-primary); }
  .lUdCvVXX9g1i6lJq3N8MG:hover input:not([disabled]):checked ~ .Sx6UpeGvhxn7apqxWDPnV,
  .lUdCvVXX9g1i6lJq3N8MG .lUdCvVXX9g1i6lJq3N8MG input:checked:focus ~ .Sx6UpeGvhxn7apqxWDPnV {
    background: var(--kit-color-primary);
    opacity: 0.8; }
  .lUdCvVXX9g1i6lJq3N8MG input:disabled ~ .Sx6UpeGvhxn7apqxWDPnV {
    pointer-events: none;
    opacity: 0.6;
    background: #e4e9f0; }
  .lUdCvVXX9g1i6lJq3N8MG input:checked ~ .Sx6UpeGvhxn7apqxWDPnV:after {
    display: block; }
  .lUdCvVXX9g1i6lJq3N8MG._3IxYLqfYwFllXB-ty38Wsr .Sx6UpeGvhxn7apqxWDPnV:after {
    top: 3px;
    left: 6px;
    width: 6px;
    height: 10px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0; }
  .lUdCvVXX9g1i6lJq3N8MG._3IxYLqfYwFllXB-ty38Wsr input:disabled ~ .Sx6UpeGvhxn7apqxWDPnV:after {
    border-color: #7b7b7b; }

._2_2Q2t9_TJEhU_8bvzmi8i {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -2rem; }

.MKWskVrUHHmkvaYwgmLtU {
  width: 50%;
  margin-bottom: 1.66rem; }

._1Z88tt0IsvBCej_VApuBQ_ {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem; }
  ._1Z88tt0IsvBCej_VApuBQ_._3v8S61vA3hwaEnMolA5P62 {
    width: 1.73rem;
    height: 1.73rem; }
  ._1Z88tt0IsvBCej_VApuBQ_._1-25aBbBLKSfcpboTxBkYs {
    border-color: #c8c4db; }
  ._1Z88tt0IsvBCej_VApuBQ_._1DCzTEBGrJ5jlQ_W1bnoq5 {
    border-color: var(--kit-color-primary); }
  ._1Z88tt0IsvBCej_VApuBQ_._2nQbfmwfi1-Wgch2VhLt5X {
    border-color: #a1a1c2; }
  ._1Z88tt0IsvBCej_VApuBQ_._32rmrsxNAO7uHZ2FDZ0tzV {
    border-color: #41b883; }
  ._1Z88tt0IsvBCej_VApuBQ_._9PMZuF1OhWpIH1xLVwElj {
    border-color: #faad15; }
  ._1Z88tt0IsvBCej_VApuBQ_.SVkYHgIBhNgs5YM2qYBCV {
    border-color: #f5222e; }
  ._1Z88tt0IsvBCej_VApuBQ_._1BB7WrDQ8sbYQVlHB1ofNW {
    border-color: #42baf9; }
  ._1Z88tt0IsvBCej_VApuBQ_.rBElzQMYlcUTnLXYXHmzm {
    border-color: #ff0; }
  ._1Z88tt0IsvBCej_VApuBQ_._2FLV1u2hMg_Ml8eFG9aCUl {
    border-color: #faad15; }
  ._1Z88tt0IsvBCej_VApuBQ_.MMCxA9HS0IzO-jr1b8RMX {
    border-color: #e4e9f0; }

._16xHYM8IPWAwxv33-kgmOV {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1.33rem; }
  ._16xHYM8IPWAwxv33-kgmOV:last-child {
    margin-bottom: 0; }
    ._16xHYM8IPWAwxv33-kgmOV:last-child ._3RC7cZZ3i-uSOHlo9H7v4L::before {
      bottom: 0; }

._1hg8K2nIRIlNyhXLnZtZrr {
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 700; }

._3RC7cZZ3i-uSOHlo9H7v4L {
  flex-shrink: 0;
  position: relative; }
  ._3RC7cZZ3i-uSOHlo9H7v4L::before {
    content: '';
    position: absolute;
    width: 0.26rem;
    top: 1.6rem;
    left: 0.4rem;
    bottom: -0.94rem;
    background-color: #e4e9f0;
    border-radius: 2px; }

.P6s3YwlUe2iBSh16MM3Zu {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem; }
  .P6s3YwlUe2iBSh16MM3Zu.qP1iX1y3ty5BZi15hNx5Y {
    width: 1.73rem;
    height: 1.73rem; }
  .P6s3YwlUe2iBSh16MM3Zu._1S44wWYqcHM6nwPvm1bSbZ {
    border-color: #c8c4db; }
  .P6s3YwlUe2iBSh16MM3Zu._1jKbYkemH8SAgvJhVky48A {
    border-color: var(--kit-color-primary); }
  .P6s3YwlUe2iBSh16MM3Zu._1q7ZgKwmWlb1Zm-W7pOL3W {
    border-color: #a1a1c2; }
  .P6s3YwlUe2iBSh16MM3Zu.Z2vhT9qFIWEYkr9Xvwg15 {
    border-color: #41b883; }
  .P6s3YwlUe2iBSh16MM3Zu.IsFiHtB1PU1ufZAzMtZBE {
    border-color: #faad15; }
  .P6s3YwlUe2iBSh16MM3Zu.Ihf7YwGTP51M2Pklox05Y {
    border-color: #f5222e; }
  .P6s3YwlUe2iBSh16MM3Zu._1MYuDP2U1VlV6rmWnyRG15 {
    border-color: #42baf9; }
  .P6s3YwlUe2iBSh16MM3Zu.FTapE8nNqIqCyIBBbBR03 {
    border-color: #ff0; }
  .P6s3YwlUe2iBSh16MM3Zu._2jZ-vu1zFbiP9KijzcKitR {
    border-color: #faad15; }
  .P6s3YwlUe2iBSh16MM3Zu._2Q2W9Kn-620wm2GfjBj9UP {
    border-color: #e4e9f0; }

[data-kit-theme='dark'] ._3RC7cZZ3i-uSOHlo9H7v4L:before {
  background: #232135; }

.QQKihiO0uouBM03YnEGyx {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.33rem; }
  .QQKihiO0uouBM03YnEGyx:last-child {
    margin-bottom: 0; }

.vgvFEUMjadu6sAHTDXA3H {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.33rem;
  flex-shrink: 0;
  align-self: flex-start; }
  .vgvFEUMjadu6sAHTDXA3H img {
    width: 100%;
    height: auto; }

