._3dnkHwU9AqSZJBnrUQSIiI {
  margin-left: -0.34rem;
  margin-right: -0.34rem;
  margin-bottom: -0.67rem; }

._244R0fYpPMXQGUyfRhHPgy {
  flex-basis: calc(100% / 3);
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  margin-bottom: 0.66rem;
  border-radius: 5px;
  overflow: hidden; }
  ._244R0fYpPMXQGUyfRhHPgy img {
    width: 100%;
    height: auto; }

.lOfUO6JCepKeIyCCS0STA {
  overflow: hidden;
  position: relative;
  padding-left: 3.33rem !important;
  border: none; }
  .lOfUO6JCepKeIyCCS0STA ._2z1qII-QwybkmyjMi6aFK4 {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 2.66rem; }
  .lOfUO6JCepKeIyCCS0STA ._2QZWgr0jCRvBFm8UdSvdb {
    font-size: 1.06rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-bar {
  border-bottom: none;
  position: relative;
  padding-left: 25px;
  padding-right: 25px; }
  ._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-bar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    height: 1px;
    background-color: #e4e9f0; }

._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-nav .ant-tabs-tab {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 25px; }

._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-ink-bar {
  height: 7px;
  border-radius: 5px;
  background-color: var(--kit-color-primary); }

._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-tabpane {
  padding-left: 25px;
  padding-right: 25px; }

[data-kit-theme='dark'] ._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-bar::before {
  background-color: #232135; }

[data-kit-theme='dark'] ._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-nav .ant-tabs-tab {
  color: #7575a3; }

[data-kit-theme='dark'] ._2ZNiVh8gqgABPc0pdgF8Rv .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

._1LX1TfEu-5mIlkGy5f5Dls {
  margin-top: -1.34rem; }

.aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-bar {
  border-bottom: none;
  position: relative;
  padding-left: 25px;
  padding-right: 25px; }
  .aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-bar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    height: 1px;
    background-color: #e4e9f0; }

.aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-nav .ant-tabs-tab {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 25px; }

.aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

.aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-ink-bar {
  height: 7px;
  border-radius: 5px;
  background-color: var(--kit-color-primary); }

.aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-tabpane {
  padding-left: 25px;
  padding-right: 25px; }

[data-kit-theme='dark'] .aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-bar::before {
  background-color: #232135; }

[data-kit-theme='dark'] .aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-nav .ant-tabs-tab {
  color: #7575a3; }

[data-kit-theme='dark'] .aI7MzGZKyJ8iD7_wuV0_h .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

._1DLlBuV8OILlO6YZyPEBXP {
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0 0; }

._33IoznnVHB-YJtBqBX7nir {
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0 0; }

._1Pn1BWHtdYMFk8xDMwaqIG {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f5222e;
  text-align: center;
  color: #fff;
  top: -50px;
  right: -50px;
  line-height: 163px;
  transform: rotate(45deg);
  text-transform: uppercase; }

._1AH55enk8Z4tAbFU2In4IC {
  position: absolute;
  top: 1.33rem;
  left: 1.66rem;
  color: #d9dee9; }
  ._1AH55enk8Z4tAbFU2In4IC:focus {
    color: #d9dee9; }
    ._1AH55enk8Z4tAbFU2In4IC:focus:hover {
      color: #d9dee9; }

.j2-vV3oR2pZoFArp5kLbD {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden; }
  .j2-vV3oR2pZoFArp5kLbD img {
    margin: auto;
    max-height: 100%;
    width: auto; }

.CFmbqKwvsUhk27k6TJeYk {
  display: flex;
  align-items: center;
  background: #fff; }
  .CFmbqKwvsUhk27k6TJeYk img {
    margin: auto;
    max-height: 100%;
    width: auto; }

._2n5a2ejJqHHr54Mxiq66Kq {
  max-width: 29.33rem; }

.gCJ_fl081lhIvuGo1kc6K {
  max-width: 29.33rem; }

