._36RzKwdi7KBfp1PKDL5hof {
  white-space: nowrap !important; }
  ._36RzKwdi7KBfp1PKDL5hof .ant-table-body {
    overflow-x: auto !important; }

._ivDlozN50ed-E-Tfjg8Y {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle; }
  ._ivDlozN50ed-E-Tfjg8Y img {
    width: 100%;
    height: auto; }

._3nVyeLApSlVWRV5fut5CPN {
  white-space: nowrap !important; }
  ._3nVyeLApSlVWRV5fut5CPN .ant-table-body {
    overflow-x: auto !important; }

._3CsjwzVf5H1-GYTDQLR6rt {
  white-space: nowrap !important; }
  ._3CsjwzVf5H1-GYTDQLR6rt .ant-table-body {
    overflow-x: auto !important; }

._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-bar {
  border-bottom: none;
  position: relative;
  padding-left: 25px;
  padding-right: 25px; }
  ._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-bar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    height: 1px;
    background-color: #e4e9f0; }

._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-nav .ant-tabs-tab {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 25px; }

._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-ink-bar {
  height: 7px;
  border-radius: 5px;
  background-color: var(--kit-color-primary); }

._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-tabpane {
  padding-left: 25px;
  padding-right: 25px; }

[data-kit-theme='dark'] ._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-bar::before {
  background-color: #232135; }

[data-kit-theme='dark'] ._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-nav .ant-tabs-tab {
  color: #7575a3; }

[data-kit-theme='dark'] ._2X2XHeNIuuvzt2kx-Rwxcb .ant-tabs-nav .ant-tabs-tab-active {
  color: var(--kit-color-primary); }

._39wjXUQvgNSbxJqay1p1B4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

._1gEI0R6SKMs76d3sLCJD2R {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

._2TF_zkvoK_rwGTDOAKntHQ {
  width: 3.33rem;
  height: 3.33rem;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0; }
  ._2TF_zkvoK_rwGTDOAKntHQ i {
    vertical-align: middle;
    line-height: 3.33rem; }

._2SD9JZZuPFr5cSQrFm-xoq {
  white-space: nowrap !important; }
  ._2SD9JZZuPFr5cSQrFm-xoq .ant-table-body {
    overflow-x: auto !important; }

._3OSMrd0AeSDptsIK--4dgk {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle; }
  ._3OSMrd0AeSDptsIK--4dgk img {
    width: 100%;
    height: auto; }

._217PRcMmQZQmbBv1JOTHi1 {
  white-space: nowrap !important; }
  ._217PRcMmQZQmbBv1JOTHi1 .ant-table-body {
    overflow-x: auto !important; }

._4fV4tgIr1Brt8YObsP-xU {
  white-space: nowrap !important; }
  ._4fV4tgIr1Brt8YObsP-xU .ant-table-body {
    overflow-x: auto !important; }

._37oIMXYdqi_RXiJy5G2Hf_ {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  ._37oIMXYdqi_RXiJy5G2Hf_::before, ._37oIMXYdqi_RXiJy5G2Hf_::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e4e9f0; }
  ._1222T2WTyQek4s-wpfNKOo {
    flex-shrink: 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem; }

[data-kit-theme='dark'] ._37oIMXYdqi_RXiJy5G2Hf_::before, [data-kit-theme='dark'] ._37oIMXYdqi_RXiJy5G2Hf_::after {
  background-color: #232135; }

._1OwgY6LQakTmCP7toik-WZ {
  white-space: nowrap !important; }
  ._1OwgY6LQakTmCP7toik-WZ .ant-table-body {
    overflow-x: auto !important; }

.qrifuxzawb6z-8F0vHOaZ {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .qrifuxzawb6z-8F0vHOaZ::before, .qrifuxzawb6z-8F0vHOaZ::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e4e9f0; }
  .w-ktHYAHvFkMeJkrEzjKR {
    flex-shrink: 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem; }

[data-kit-theme='dark'] .qrifuxzawb6z-8F0vHOaZ::before, [data-kit-theme='dark'] .qrifuxzawb6z-8F0vHOaZ::after {
  background-color: #232135; }

._2orqQ0iLJI8sKpnBdCaQu7 {
  white-space: nowrap !important; }
  ._2orqQ0iLJI8sKpnBdCaQu7 .ant-table-body {
    overflow-x: auto !important; }

