._3jks-ms5S9ZA2ok9qg-8H8 {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem;
  background-color: #fff; }
  ._3jks-ms5S9ZA2ok9qg-8H8._39xCIjZeKYXHq9gMn6lSXu {
    width: 1.73rem;
    height: 1.73rem; }
  ._3jks-ms5S9ZA2ok9qg-8H8._1t7zQS0QawfVGWUWuTRoLL {
    border-color: #c8c4db; }
  ._3jks-ms5S9ZA2ok9qg-8H8.Gx7vfuvrRjBc4BnbNf_b2 {
    border-color: var(--kit-color-primary); }
  ._3jks-ms5S9ZA2ok9qg-8H8._3f9sTq8wwqshCa3Hlus7_K {
    border-color: #a1a1c2; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3lU5PsvkovTXRUyUXmwdRC {
    border-color: #41b883; }
  ._3jks-ms5S9ZA2ok9qg-8H8.nDIOwSNf52P_Cvf_kzUql {
    border-color: #faad15; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3Wd_r6wQkXg2S0HMKe6EGW {
    border-color: #f5222e; }
  ._3jks-ms5S9ZA2ok9qg-8H8._2WFIMT7_QnFSsgh9tzUFJW {
    border-color: #42baf9; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3oCGNlNGCl16hF2Jv5u_mE {
    border-color: #ff0; }
  ._3jks-ms5S9ZA2ok9qg-8H8.wOc2okHeGKgt0s32VLvpP {
    border-color: #faad15; }
  ._3jks-ms5S9ZA2ok9qg-8H8._9ZH0Fjqg0kAL2NPKcoQxI {
    border-color: #e4e9f0; }

._3QVFCAaGor2rrswD5paYys {
  width: 3.33rem;
  height: 3.33rem;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0; }
  ._3QVFCAaGor2rrswD5paYys i {
    vertical-align: middle;
    line-height: 3.33rem; }

._215fWROXxTJM4EbR_I9uuZ {
  white-space: nowrap !important; }
  ._215fWROXxTJM4EbR_I9uuZ .ant-table-body {
    overflow-x: auto !important; }

.WLd2ogaWoyEZEXAYmf-It {
  max-width: 26.66rem;
  margin: 0 auto; }

._2veaQ3tBDcLIKkXnY-cvyf {
  white-space: nowrap !important; }
  ._2veaQ3tBDcLIKkXnY-cvyf .ant-table-body {
    overflow-x: auto !important; }

.eJmJbGg0KrgS4WK64R6yC {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .eJmJbGg0KrgS4WK64R6yC::before, .eJmJbGg0KrgS4WK64R6yC::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e4e9f0; }
  ._38IHZYYeh6jxhp1vWA83pb {
    flex-shrink: 0;
    padding-left: 1.6rem;
    padding-right: 1.6rem; }

[data-kit-theme='dark'] .eJmJbGg0KrgS4WK64R6yC::before, [data-kit-theme='dark'] .eJmJbGg0KrgS4WK64R6yC::after {
  background-color: #232135; }

