._3jks-ms5S9ZA2ok9qg-8H8 {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem;
  background-color: #fff; }
  ._3jks-ms5S9ZA2ok9qg-8H8._39xCIjZeKYXHq9gMn6lSXu {
    width: 1.73rem;
    height: 1.73rem; }
  ._3jks-ms5S9ZA2ok9qg-8H8._1t7zQS0QawfVGWUWuTRoLL {
    border-color: #c8c4db; }
  ._3jks-ms5S9ZA2ok9qg-8H8.Gx7vfuvrRjBc4BnbNf_b2 {
    border-color: var(--kit-color-primary); }
  ._3jks-ms5S9ZA2ok9qg-8H8._3f9sTq8wwqshCa3Hlus7_K {
    border-color: #a1a1c2; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3lU5PsvkovTXRUyUXmwdRC {
    border-color: #41b883; }
  ._3jks-ms5S9ZA2ok9qg-8H8.nDIOwSNf52P_Cvf_kzUql {
    border-color: #faad15; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3Wd_r6wQkXg2S0HMKe6EGW {
    border-color: #f5222e; }
  ._3jks-ms5S9ZA2ok9qg-8H8._2WFIMT7_QnFSsgh9tzUFJW {
    border-color: #42baf9; }
  ._3jks-ms5S9ZA2ok9qg-8H8._3oCGNlNGCl16hF2Jv5u_mE {
    border-color: #ff0; }
  ._3jks-ms5S9ZA2ok9qg-8H8.wOc2okHeGKgt0s32VLvpP {
    border-color: #faad15; }
  ._3jks-ms5S9ZA2ok9qg-8H8._9ZH0Fjqg0kAL2NPKcoQxI {
    border-color: #e4e9f0; }

._2qX4iiabUOFVxhcAtl32_h {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem; }
  ._2qX4iiabUOFVxhcAtl32_h._1Gg-FJKUhQFmc9PSc_Avtv {
    width: 1.73rem;
    height: 1.73rem; }
  ._2qX4iiabUOFVxhcAtl32_h.W55g0ymKBJdR8IW3jOvua {
    border-color: #c8c4db; }
  ._2qX4iiabUOFVxhcAtl32_h._1HB4uXDiFMdvG7CeVmCgWR {
    border-color: var(--kit-color-primary); }
  ._2qX4iiabUOFVxhcAtl32_h._1eEmIfaZLILdETUaXag1Cz {
    border-color: #a1a1c2; }
  ._2qX4iiabUOFVxhcAtl32_h.ucVKMYMbc6TwcXOkrnktU {
    border-color: #41b883; }
  ._2qX4iiabUOFVxhcAtl32_h._6LsePNRvpaaUoisQ2XXNj {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._2yQkDQ9gxplf7_eaAKnriQ {
    border-color: #f5222e; }
  ._2qX4iiabUOFVxhcAtl32_h._2k3ejwoz4wQKaHh07v-su7 {
    border-color: #42baf9; }
  ._2qX4iiabUOFVxhcAtl32_h._1JqaepX8nG8gDFH6ILZSd4 {
    border-color: #ff0; }
  ._2qX4iiabUOFVxhcAtl32_h._2PLqpXlZjFdwQytDLlA8EX {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._1lNUTdY69xK5hx6So_CTFK {
    border-color: #e4e9f0; }

._1Pn1BWHtdYMFk8xDMwaqIG {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f5222e;
  text-align: center;
  color: #fff;
  top: -50px;
  right: -50px;
  line-height: 163px;
  transform: rotate(45deg);
  text-transform: uppercase; }

._1AH55enk8Z4tAbFU2In4IC {
  position: absolute;
  top: 1.33rem;
  left: 1.66rem;
  color: #d9dee9; }
  ._1AH55enk8Z4tAbFU2In4IC:focus {
    color: #d9dee9; }
    ._1AH55enk8Z4tAbFU2In4IC:focus:hover {
      color: #d9dee9; }

.j2-vV3oR2pZoFArp5kLbD {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden; }
  .j2-vV3oR2pZoFArp5kLbD img {
    margin: auto;
    max-height: 100%;
    width: auto; }

.CFmbqKwvsUhk27k6TJeYk {
  display: flex;
  align-items: center;
  background: #fff; }
  .CFmbqKwvsUhk27k6TJeYk img {
    margin: auto;
    max-height: 100%;
    width: auto; }

