._1xOSs4Ll-5L7vvOCWP2ir- {
  position: relative;
  overflow: hidden;
  border-radius: 5px; }

._3MhybeqaeVVG2BhA1kvqqa {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 6px;
  z-index: 1; }

.HfH5rJW5UIpITXR78Np9Z {
  background: #f2f4f8; }

[data-kit-theme='dark'] .HfH5rJW5UIpITXR78Np9Z {
  background: #232135; }

._1OmL6ky71aqgRXgp2yH5XG {
  position: relative;
  overflow: hidden;
  border-radius: 5px; }

.MpWX8FxscR-JoheONd7MS {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  width: 6px;
  z-index: 1; }

.NiNGpwcOOCpqjXBdiEDZ7 {
  background: #f2f4f8; }

[data-kit-theme='dark'] .NiNGpwcOOCpqjXBdiEDZ7 {
  background: #232135; }

._36RzKwdi7KBfp1PKDL5hof {
  white-space: nowrap !important; }
  ._36RzKwdi7KBfp1PKDL5hof .ant-table-body {
    overflow-x: auto !important; }

._ivDlozN50ed-E-Tfjg8Y {
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f4f8;
  text-align: center;
  vertical-align: middle; }
  ._ivDlozN50ed-E-Tfjg8Y img {
    width: 100%;
    height: auto; }

