._1Pn1BWHtdYMFk8xDMwaqIG {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f5222e;
  text-align: center;
  color: #fff;
  top: -50px;
  right: -50px;
  line-height: 163px;
  transform: rotate(45deg);
  text-transform: uppercase; }

._1AH55enk8Z4tAbFU2In4IC {
  position: absolute;
  top: 1.33rem;
  left: 1.66rem;
  color: #d9dee9; }
  ._1AH55enk8Z4tAbFU2In4IC:focus {
    color: #d9dee9; }
    ._1AH55enk8Z4tAbFU2In4IC:focus:hover {
      color: #d9dee9; }

.j2-vV3oR2pZoFArp5kLbD {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden; }
  .j2-vV3oR2pZoFArp5kLbD img {
    margin: auto;
    max-height: 100%;
    width: auto; }

.CFmbqKwvsUhk27k6TJeYk {
  display: flex;
  align-items: center;
  background: #fff; }
  .CFmbqKwvsUhk27k6TJeYk img {
    margin: auto;
    max-height: 100%;
    width: auto; }

._3WQW9T0tsN23nCWlqmu0yj {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #f5222e;
  text-align: center;
  color: #fff;
  top: -50px;
  right: -50px;
  line-height: 163px;
  transform: rotate(45deg);
  text-transform: uppercase; }

._3ylmjixigLC-fu9A20B7VW {
  position: absolute;
  top: 1.33rem;
  left: 1.66rem;
  color: #d9dee9; }
  ._3ylmjixigLC-fu9A20B7VW:focus {
    color: #d9dee9; }
    ._3ylmjixigLC-fu9A20B7VW:focus:hover {
      color: #d9dee9; }

._1mdy9zVlGfgH20hHEkck-_ {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background: #fff; }
  ._1mdy9zVlGfgH20hHEkck-_ img {
    margin: auto;
    max-height: 100%;
    width: auto; }

.rv8L8RNOe40uBt57g1zeb {
  display: flex;
  align-items: center;
  background: #fff; }
  .rv8L8RNOe40uBt57g1zeb img {
    margin: auto;
    max-height: 100%;
    width: auto; }

