._2qX4iiabUOFVxhcAtl32_h {
  display: inline-block;
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 100%;
  border: 4px solid #c8c4db;
  position: relative;
  top: 0.13rem;
  margin-right: 0.26rem; }
  ._2qX4iiabUOFVxhcAtl32_h._1Gg-FJKUhQFmc9PSc_Avtv {
    width: 1.73rem;
    height: 1.73rem; }
  ._2qX4iiabUOFVxhcAtl32_h.W55g0ymKBJdR8IW3jOvua {
    border-color: #c8c4db; }
  ._2qX4iiabUOFVxhcAtl32_h._1HB4uXDiFMdvG7CeVmCgWR {
    border-color: var(--kit-color-primary); }
  ._2qX4iiabUOFVxhcAtl32_h._1eEmIfaZLILdETUaXag1Cz {
    border-color: #a1a1c2; }
  ._2qX4iiabUOFVxhcAtl32_h.ucVKMYMbc6TwcXOkrnktU {
    border-color: #41b883; }
  ._2qX4iiabUOFVxhcAtl32_h._6LsePNRvpaaUoisQ2XXNj {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._2yQkDQ9gxplf7_eaAKnriQ {
    border-color: #f5222e; }
  ._2qX4iiabUOFVxhcAtl32_h._2k3ejwoz4wQKaHh07v-su7 {
    border-color: #42baf9; }
  ._2qX4iiabUOFVxhcAtl32_h._1JqaepX8nG8gDFH6ILZSd4 {
    border-color: #ff0; }
  ._2qX4iiabUOFVxhcAtl32_h._2PLqpXlZjFdwQytDLlA8EX {
    border-color: #faad15; }
  ._2qX4iiabUOFVxhcAtl32_h._1lNUTdY69xK5hx6So_CTFK {
    border-color: #e4e9f0; }

._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #e4e9f0; }
  ._20j7s9cahRwwFMzPdJIYV5:first-child ._3CcXkhrR9-bHR2WNWOF7Jb {
    padding-top: 0; }
  ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }
    ._20j7s9cahRwwFMzPdJIYV5:last-child ._3CcXkhrR9-bHR2WNWOF7Jb {
      padding-bottom: 0; }

._3CcXkhrR9-bHR2WNWOF7Jb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: inherit;
  padding-top: 2rem;
  padding-bottom: 1.66rem; }
  ._3CcXkhrR9-bHR2WNWOF7Jb:hover, ._3CcXkhrR9-bHR2WNWOF7Jb:focus {
    color: inherit; }

._1HTBiB-fpYrj2aBzxYHnqk {
  width: 4.86rem;
  flex-shrink: 0; }
  ._1HTBiB-fpYrj2aBzxYHnqk img {
    width: 100%;
    height: auto; }

[data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }

