._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #e4e9f0; }
  ._20j7s9cahRwwFMzPdJIYV5:first-child ._3CcXkhrR9-bHR2WNWOF7Jb {
    padding-top: 0; }
  ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }
    ._20j7s9cahRwwFMzPdJIYV5:last-child ._3CcXkhrR9-bHR2WNWOF7Jb {
      padding-bottom: 0; }

._3CcXkhrR9-bHR2WNWOF7Jb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: inherit;
  padding-top: 2rem;
  padding-bottom: 1.66rem; }
  ._3CcXkhrR9-bHR2WNWOF7Jb:hover, ._3CcXkhrR9-bHR2WNWOF7Jb:focus {
    color: inherit; }

._1HTBiB-fpYrj2aBzxYHnqk {
  width: 4.86rem;
  flex-shrink: 0; }
  ._1HTBiB-fpYrj2aBzxYHnqk img {
    width: 100%;
    height: auto; }

[data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5 {
  border-bottom: 1px solid #232135; }
  [data-kit-theme='dark'] ._20j7s9cahRwwFMzPdJIYV5:last-child {
    border-bottom: none; }

